.main__header 
  .social
    a(href='https://www.facebook.com/actrade.new' target='_blank')
      i.fa-brands.fa-facebook
    a(href='https://t.me/trunganhidg' target='_blank')
      i.fa-brands.fa-telegram
  .info
    a.info__list(href='chuong-trinh-doi-tac.html')
      i.fa-solid.fa-circle-info
    a.info__list(href='send-email.html')
      i.fa-solid.fa-envelopes-bulk
  .header
    a.header__logo(href='index.html')
      img(src='./img/logo-web-02.png' alt='header-logo')
    .header__nav
      .header-nav__list
        a.header-nav__link(href='index.html') Trang Chủ
      .header-nav__list
        a.header-nav__link(href='trading.html') Giao Dịch
      .header-nav__list
        a.header-nav__link(href='chuong-trinh-doi-tac.html') Sản Phẩm
        .nav__list-child
          a.nav__list-child-item(href='san-pham-actrade.html') AC-Trade
          a.nav__list-child-item(href='copytrade.html') CopyTrade
          a.nav__list-child-item(href='chuong-trinh-doi-tac.html') Chương Trình Đối Tác Với AC-Trade
      .header-nav__list
        a.header-nav__link(href='tin-tuc.html') Tin Tức
      .header-nav__list
        a.header-nav__link(href='kien-thuc-co-ban.html') Hướng Dẫn
        .nav__list-child
          a.nav__list-child-item(href='kien-thuc-co-ban.html') Kiến Thức Cơ Bản
          a.nav__list-child-item(href='huong-dan-dang-ky.html') Hướng Dẫn Đăng Ký
          a.nav__list-child-item(href='huong-dan-nap-rut.html') Hướng Dẫn Nạp Rút
      .header-nav__list
        a.header-nav__link(href='send-email.html') Hỗ Trợ
        .nav__list-child
          a.nav__list-child-item(href='send-email.html') Gửi Email Hỗ Trợ
          a.nav__list-child-item(href='#') Chuyên Viên Tư Vấn
          a.nav__list-child-item(href='#') Chăm Sóc Khách Hàng
    .header__login
      a(href='login.html') Đăng Nhập / Đăng Ký

