.main__header
  .social
    a(href='https://www.facebook.com/actrade.new' target='_blank')
      i.fa-brands.fa-facebook
    a(href='https://t.me/trunganhidg' target='_blank')
      i.fa-brands.fa-telegram
  .info
    a.info__list(href='chuong-trinh-doi-tac.html')
      i.fa-solid.fa-circle-info
    a.info__list(href='send-email.html')
      i.fa-solid.fa-envelopes-bulk
  .header
    a.header__logo(href='index.html')
      img(src='/img/logo-web-02.png' alt='header-logo')
    .header__nav
      .header-nav__list
        a.header-nav__link(href='index.html') TRANG CHỦ
      .header-nav__list
        a.header-nav__link(href='chuong-trinh-doi-tac.html') GIỚI THIỆU
        .nav__list-child
          a.nav__list-child-item(href='dich-vu.html') DỊCH VỤ
          a.nav__list-child-item(href='chuong-trinh-doi-tac.html') CHƯƠNG TRÌNH ĐỐI TÁC VỚI AC-TRADE
      .header-nav__list
        a.header-nav__link(href='tin-tuc.html') TIN TỨC
      .header-nav__list
        a.header-nav__link(href='kien-thuc-co-ban.html') HƯỚNG DẪN
        .nav__list-child
          a.nav__list-child-item(href='kien-thuc-co-ban.html') KIẾN THỨC CƠ BẢN
          a.nav__list-child-item(href='huong-dan-dang-ky.html') HƯỚNG DẪN ĐĂNG KÝ
          a.nav__list-child-item(href='huong-dan-nap-rut.html') NẠP TIỀN - RÚT TIỀN
      .header-nav__list
        a.header-nav__link(href='send-email.html') HỖ TRỢ
        .nav__list-child
          a.nav__list-child-item(href='send-email.html') GỬI EMAIL HỖ TRỢ
          a.nav__list-child-item(href='#') CHUYÊN VIÊN TƯ VẤN
          a.nav__list-child-item(href='#') CHĂM SÓC KHÁCH HÀNG
    .header__login
      a(href='#') ĐĂNG NHẬP / ĐĂNG KÝ

