extends layout 
block title 
    -title = 'AC-TRADE | Trang Chủ'
block main
    .mid
        .mid__title
            h1 CHIẾN THẮNG THỊ TRƯỜNG
        .mid__content
            i AC TRADE là nền tảng đột phá mới, đơn giản hóa giao dịch phái sinh chỉ số, nhà đầu tư có thể trải nghiệm tập sự phái sinh như chỉ số VN30, DJ, NASDAQ với số tiền hợp đồng nhỏ
            i.mid__content-last CHỈ TỪ 500.000VNĐ/ HỢP ĐỒNG
        a(href='#')
            button.button
                span.button_lg
                    span.button_sl
                    span.button_text Đăng Ký Ngay
    marquee(behavior="", direction="10" scrollamount="11")
        i 
            | Đăng ký tài khoản nhận ngay 50.000vnđ tài khoản thực và 100.000.000vnđ cho tài khoản demo 
    .main__index-mockup 
        img(src='/img/display.png' alt='display')
    .main__index-content
        h3 Chúng tôi hiểu điều gì quan trọng với bạn
        .index-content__list
            .index-content__list-item
                i.fa-solid.fa-bolt
                h5 Nạp/ rút nhanh chóng
                p 
                    | ACTRADE kết hợp với ngân hàng HSBC để thực hiện nhận và chuyển tiền cho khách hàng.
            .index-content__list-item
                i.fa-solid.fa-file-invoice-dollar
                h5 Phí giao dịch cực thấp
                p
                    | Cơ cấu hợp tác đầu tư độc đáo của ACTRADE giúp nhà đầu tư tối ưu chi phí và thuế giao dịch. Phí chỉ từ 5.000VNĐ cho một lần mở và đóng một hợp đồng.
                    br
                    br
                    b CHỈ DUY NHẤT 01 LOẠI CHI PHÍ
            .index-content__list-item
                i.fa-solid.fa-chart-simple
                h5 Dữ liệu chuẩn xác, minh bạch
                p Dữ liệu minh bạch được cấp phép bởi ủy ban chứng khoán các quốc gia.
            .index-content__list-item
                i.fa-solid.fa-headset
                h5 Hỗ trợ trực tuyến 24/7
                p
                    | Nhóm hỗ trợ khách hàng đa ngôn ngữ của chúng tôi sẵn sàng trợ giúp bạn. Bạn có thể liên hệ với chúng tôi qua điện thoại, e-mail hoặc trò chuyện trực tuyến.
            .index-content__list-item
                i.fa-solid.fa-shield-halved
                h5 An toàn & Bảo mật
                p ACTRADE bảo mật dữ liệu cá nhân, tài sản của khách hàng tuyệt đối.
            .index-content__list-item
                i.fa-solid.fa-handshake-simple
                h5 Chính sách hoa hồng hấp dẫn
                p
                    | Chúng tôi luôn cố gắng hướng đến khách hàng, mong muốn khách hàng đồng hành cùng ACTRADE với các chính sách hoa hồng cực hấp dẫn.
    .main__index-content-two
        .content-two__list
            img(src='/img/display 2.png' alt='')
        .index-content-two__list
            h6 GIAO DỊCH THÔNG MINH
            h3 MÀN HÌNH GIAO DỊCH THÂN THIỆN
            p
                | Hệ thống giao dịch của ACTRADE được thiết kế tối ưu và luôn hướng tới trải nghiệm của khách hàng, giúp nhà đầu tư dễ dàng theo dõi thị trường, đặt lệnh nhanh chóng nhất.
            ol
            li - Thiết kế thân thiện
            li - Dễ dàng sử dụng
            li - Đặt lệnh nhanh chóng
            li - Đồ thị trực quan
            li - Luôn tối ưu trải nghiệm của khách hàng
    .main__index-content-two
        .index-content-two__list
            h6 BOT TRADING
            h3 GIAO DỊCH TỰ ĐỘNG GIẢM THIỂU CẢM XÚC
            p
                | Chúng tôi sử dụng công cụ cắt lỗ và cảnh báo tự động để giúp nhà đầu tư không bị cảm xúc chi phối khi giao dịch trong ngày. Nhà đầu tư cũng có thể giao dịch tự động thông qua các chiến lược giao dịch cài đặt trước.
            ol
            li - Cắt lỗ tự động
            li - Chốt lời theo điều kiện
            li - Xây dựng chiến thuật giao dịch tự động
            li - Chỉ báo phân tích kỹ thuật đa dạng
            li - Liên tục cải tiến
        .content-two__list
            img(src='/img/display 2.png' alt='')
    .main__index-content-two
        .content-two__list
            img(src='/img/display 2.png' alt='')
        .index-content-two__list
            h6 GIẢI PHÁP TÀI CHÍNH
            h3 TỐI ƯU LỢI ÍCH VỚI ĐÒN BẨY LÊN ĐẾN 200 LẦN
            p
                | ACTRADE cung cấp hỗ trợ tài chính cho nhà đầu tư để giao dịch trong ngày ở thị trường phái sinh với ký quỹ cố định trên một hợp đồng, chỉ 1% so với giá trị chỉ số.
            ol
            li - Phí giao dịch cạnh tranh
            li - Chỉ 1 phí duy nhất
            li - Đặt lệnh nhanh chóng
            li - Nạp - Rút tiền tự động
            li - Quản lý tài sản tối ưu, minh bạch


    