extends layout 
block title 
    -title = 'AC-TRADE | Kiến Thức Cơ Bản'
block main
    .mid
        div(class='mid__title mid__kien-thuc-title')
            h1 
                | BẠN MUỐN GIA TĂNG THU NHẬP 
                br 
                | TỪ ĐẦU TƯ TÀI CHÍNH
        div(class='mid__content mid__kien-thuc-content')
            i Cùng AC - TRADE tìm hiểu và trau dồi kiến thức cơ bản nhất về giao dịch phái sinh chỉ số
            i.mid__content-last THÊM KINH NGHIỆM GIAO DỊCH VỚI TRẢI NGHIỆM DEMO CÙNG SỐ VỐN 100.000.000VNĐ   
    div(class='main__kien-thuc-content main__kien-thuc-content-first')
        .main__kien-thuc-content-item 
            img(src='./img/ktcb1-05.png')
        .main__kien-thuc-content-item 
            h5 MỞ TÀI KHOẢN GIAO DỊCH MIỄN PHÍ
            p Chỉ mất vài phút để mở tài khoản giao dịch chứng khoán phái sinh tại AC-TRADE. Hoàn toàn miễn phí!
            h5 NHẬN NGAY 100.000.000 ĐỒNG
            p Bạn sẽ có ngay 100 triệu đồng trong tài khoản trải nghiệm giao dịch để thực hành làm một trader.
            h5 RÈN LUYỆN KỸ NĂNG QUA TRADE DEMO
            p Tích luỹ càng nhiều, bạn càng có thêm nhiều kinh nghiệm giao dịch quý báu.
            h5 SẴN SÀNG KIẾM TIỀN TỪ CHỨNG KHOÁN
            p Tự tin bước vào thị trường, thử thách thực tế để giành chiến thắng.
    .main__content-vw
        .content__video-item
            video(controls poster='./vid/sàn-chứng-khoán-là-gì-01.png')
                source(src='./vid/chung-khoan-la-gi.mp4' type='video/mp4')
        .content__video-item
            video(controls poster='./vid/giao-dịch-ngoại-hối-01.png')
                source(src='./vid/ngoai-hoi-la-gi.mp4' type='video/mp4')
        .content__video-item
            video(controls poster='./vid/cách-kiếm-lợi-nhuận-trên-thị-trường-ngoại-hối-01.png')
                source(src='./vid/giao-dich-ngoai-hoi.mp4' type='video/mp4')
    .main__kien-thuc-content
        .main__kien-thuc-content-item
            img(src='./img/nến nhật.png' alt='')
        .main__kien-thuc-content-item
            h5 NẾN NHẬT LÀ GÌ? Ý NGHĨA CỦA NẾN NHẬT
            p
                | Biểu đồ nến Nhật cho thấy 
                b sự thay đổi của giá cổ phiếu
                |  và cho biết xu hướng thị trường chứng khoán sắp tới.
            p
                | Mỗi cây nến đại diện cho sự biến động của giá trong một phiên giao dịch nhất định, phiên giao dịch có thể trong một khoảng thời gian dài như 1 ngày (D1), 1 tuần (W1) hay thậm chí 1 tháng (MN) hoặc các phiên giao dịch ngắn hạn như 1 giờ (H1), 15 phút (M15),... Việc lựa chọn khung thời gian để hiển thị là phụ thuộc vào chiến lược phân tích của mỗi người.
            p
                b
                    | Mỗi cây nến đều được cấu tạo từ 3 bộ phận chính và biểu thị 4 mức giá của một phiên giao dịch, bao gồm:
                br
                | - Thân nến (Real Body): thể hiện khoảng cách giữa giá mở cửa và giá đóng cửa.
                br
                | - Râu nến trên (Upper Shadow): là phần nằm ngoài phía trên của thân nến.
    
                br
                | - Râu nến dưới (Lower Shadow): là phần nằm ngoài phía dưới của thân nến.
    
                br
                | - Giá mở cửa (Open): là giá của tài sản khi bắt đầu một phiên giao dịch.
    
                br
                | - Giá đóng cửa (Close): là giá của tài sản khi kết thúc một phiên giao dịch.
    
                br
                | - Giá cao nhất (High): là mức giá cao nhất của tất cả các giao dịch xảy ra trong phiên đó.
    
                br
                | - Giá thấp nhất (Low): là mức giá thấp nhất của tất cả các giao dịch xảy ra trong phiên đó.
    .main__kien-thuc-content
        .main__kien-thuc-content-item
            h5 GIAO DỊCH HỢP ĐỒNG TƯƠNG LAI - FUTURES TRADING?
            p
                | Trading futures là một phương thức đầu tư tài chính mà người đầu tư mua hoặc bán hợp đồng tương lai trên một loại tài sản nhất định với giá cả và thời gian cụ thể. Các tài sản thường được giao dịch như hàng hoá, năng lượng, chứng khoán và tiền tệ.
            p
                | Một trong những ưu điểm của trading futures là tính thanh khoản cao và khả năng giao dịch trên thị trường quốc tế 24/7. Người đầu tư có thể dễ dàng mua hoặc bán futures mà không cần phải chờ đợi như khi đầu tư vào tài sản thực.
            p
                | Trong thực tế, trading futures thường được sử dụng như một công cụ bảo vệ danh mục đầu tư và tăng cường lợi nhuận. Nhà đầu tư có thể đặt cược vào giá tăng hay giảm của một tài sản nhất định trong tương lai, kiểm soát được rủi ro và tối đa hóa lợi nhuận.
            p
                | Về cơ bản, futures là một thỏa thuận của một bên để mua hoặc nhận hàng (các sản phẩm như hàng hóa hoặc tiền tệ) tại một ngày với mức giá cố định trong tương lai.
        .main__kien-thuc-content-item
            img(src='./img/ktcb2-05.png' alt='')
    .main__kien-thuc-content
        .main__kien-thuc-content-item
            img(src='./img/ktcb3-05.png' alt='')
        .main__kien-thuc-content-item
            h5 GIAO DỊCH HỢP ĐỒNG TƯƠNG LAI THÔNG QUA CFD
            p CFD là từ viết tắt của "Contract for Difference" (hợp đồng chênh lệch giá).
            p
                | CFD là một công cụ phái sinh cho phép nhà giao dịch dự đoán về sự 
                b  tăng/giảm
                |  của giá cổ phiếu trên thị trường. Được phát triển vào đầu những năm 1990 tại London bởi hai chủ ngân hàng đầu tư tại UBS Warburg, CFD về cơ bản là một hợp đồng giữa hai bên mua và bán. Nó quy định người bán sẽ trả cho người mua khoản chênh lệch giữa giá trị hiện tại của thị trường và giá trị khi hợp đồng kết thúc.
            p
                | Trong trường hợp này, người bán thường là các công ty môi giới, không giống với giao dịch hợp đồng tương lai nơi trader phải giao dịch trực tiếp với người mua hoặc người bán loại hàng hóa đang giao dịch. Với CFD, nhà giao dịch chỉ cần trả khoản chênh lệch giữa giá mở cửa và giá đóng cửa trên thị trường cơ sở.
    .main__kien-thuc-content
        .main__kien-thuc-content-item
            h5
                | HIỆN TẠI AC-TRADE CUNG CẤP CHO CÁC NHÀ ĐẦU TƯ 4 SẢN PHẨM GIAO DỊCH CHỈ SỐ PHÁI SINH:
            p
                | - Hợp đồng tương lai chỉ số VN30 (Vn30F1M) - Giá trị 1 hợp đồng 500.000 VND - Chênh lệch lãi/ lỗ 1 điểm tương ứng với 10.000VND.
            p
                | - Hơp đồng tương lai chỉ số S&P 500 (ES1!) - Giá trị 1 hợp đồng 1.500.000 VND - Chênh lệch lãi/ lỗ 1 điểm tương ứng với 10.000VND.
            p
                | - Hơp đồng tương lai chỉ số dow Jones(YM1!) - Giá trị 1 hợp đồng: 15.000.000 - Chênh lệch lãi/ lỗ 1 điểm tương ứng với 10.000VND.
            p
                | - Hợp đồng tương lai chỉ số Nasdaq(NQ1!) - Giá trị 1 hợp đồng: 5.000.000 VND - Chênh lệch lãi/ lỗ 1 điểm tương ứng với 10.000VND.
        .main__kien-thuc-content-item
            img(src='./img/ktcb4-05.png' alt='')
    .main__kien-thuc-content
        .main__kien-thuc-content-item
            h5 HỢP ĐỒNG TƯƠNG LAI CHỈ SỐ VN30 (PHÁI SINH/ VN30F1M):
            p - Phiên giao dịch khớp lệnh liên tục: Phiên sáng 9h00’-11h30’, chiều 13h00-14h30’.
            p - Biên độ giao động giá không quá 7%.
            p - Bước giá 0,1 điểm.
            p - Chênh lệch lãi/ lỗ 1 điểm tương ứng với 10.000VND.
            p - Giá tham chiếu sẽ được xác định bằng giá thanh toán cuối ngày liền kề trước đó/ giá lý thuyết của ngày giao dịch đầu tiên.
            p - Thời gian giao dịch trùng với thời gian giao dịch trên thị trường.
    .main__kien-thuc-content
        .main__kien-thuc-content-item
            h5 HỢP ĐỒNG TƯƠNG LAI CHỈ SỐ S&P 500 (ES1!):
            p - Chỉ số S & P 500 được tính bằng giá cổ phiếu của 500 công ty lớn ở Hoa Kỳ.
            p - Bước giá 0,25 điểm.
            p - Chênh lệch lãi/ lỗ 1 điểm tương ứng với 10.000VND.
            p - Thời gian giao dịch trùng với thời gian giao dịch trên thị trường.
    .main__kien-thuc-content
        .main__kien-thuc-content-item
            h5 HỢP ĐỒNG TƯƠNG LAI CHỈ SỐ DOW JONES (YM1!)
            p
                | - Dow Futures là tên của sản phẩm hợp đồng tương lai, phái sinh từ chỉ số thị trường Dow Jones. Hợp đồng này được giao dịch trên nền tảng giao dịch điện tử Globex từ sàn Chicago Mercantile Exchange. Chi tiết hơn, giá của hợp đồng tương lai dựa trên chỉ số chứng khoán Dow30, tương tự như chỉ số VN30. Chỉ số Dow 30 là mức trung bình có giá của 30 cổ phiếu lớn nhất về vốn hóa được giao dịch trên thị trường chứng khoán New York (NYSE) và NASDAQ.
            p
                | - Cụ thể, có ba loại sản phẩm hợp đồng tương lai, bao gồm: Dow, E-mini Dow, DJIA và Big Dow DJIA. Trong đó, loại E-mini là phổ biến nhất vì vốn đầu tư ban đầu rất thấp và tiếp cận phần lớn nhà đầu tư toàn cầu.
            p - Bước giá 0,25 điểm.
            p - Chênh lệch lãi/ lỗ 1 điểm tương ứng với 10.000VND.
            p - Thời gian giao dịch trùng với thời gian giao dịch trên thị trường.
    .main__kien-thuc-content
        .main__kien-thuc-content-item
            h5 HỢP ĐỒNG TƯƠNG LAI CHỈ SỐ NASDAQ (NQ1!):
            p
                | - Một chỉ số bao gồm 100 công ty lớn nhất, giao dịch tích cực nhất của Mỹ được niêm yết trên sàn giao dịch chứng khoán Nasdaq. Chỉ số này bao gồm các công ty từ hàng loạt các ngành công nghiệp ngoại trừ những công ty hoạt động trong ngành tài chính, chẳng hạn như ngân hàng và các công ty đầu tư.
            p
                | - Để được lọt vào top 100 công ty trong chỉ số Nasdaq, một công ty phải đạt được tiêu chí: 
                br
                | + Được niêm yết độc quyền trên Nasdaq.
                br
                | + Đã niêm yết được ít nhất 2 năm (hoặc 1 năm nếu thỏa mãn một số tiêu chuẩn về vốn hóa thị trường).
                br
                | + Khối lượng giao dịch bình quân ngày tối thiểu là 200.000 cổ phiếu.
                br
                | + Lưu hành báo cáo hàng quí và hàng năm.
                br
                | + Không đứng trước nguy cơ phá sản.
            p - Bước giá 0,25 điểm.
            p - Chênh lệch lãi/ lỗ 1 điểm tương ứng với 10.000VND.
            p - Thời gian giao dịch trùng với thời gian giao dịch trên thị trường.

