extends ../layout/layout 
block title 
    -title = 'AC-TRADE | Tin Tức'
include ../mixins 
block main 
    .mid
        div(class='mid__title mid__title-news')
            h1 AC-TRADE CẬP NHẬT CÁC TIN TỨC HÀNG NGÀY
        div(class='mid__content mid__content-news')
            i Các thông tin và tin tức nóng được chúng tôi tải lên mỗi ngày giúp các nhà đầu tư cập nhật tình hình thị trường trong nước và quốc tế.
    .main__news 
        +mainNewsItem('#','https://i-invdn-com.investing.com/trkd-images/LYNXMPEJ1912E_L.jpg','Bed Bath & Beyond đi tàu lượn siêu tốc đến khả năng phá sản','Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem beatae ex facilis velit vitae explicabo aliquam dolores...','12/2/2023')
        +mainNewsItem('#','https://i-invdn-com.investing.com/trkd-images/LYNXMPEJ190FW_L.jpg','Cổ phiếu Lyft trượt dốc vì lo ngại Uber sẽ vượt lên','Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem beatae ex facilis velit vitae explicabo aliquam dolores...','12/2/2023')
        +mainNewsItem('#','https://i-invdn-com.investing.com/news/LYNXNPEB7N0OT_L.jpg','Thị trường chứng khoán hôm nay: Dow tăng, nhưng kết thúc tuần trong sắc đỏ khi vòng quay tăng trưởng nguội dần','Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem beatae ex facilis velit vitae explicabo aliquam dolores...','12/2/2023')
        +mainNewsItem('#','https://i-invdn-com.investing.com/trkd-images/LYNXMPEJ190HJ_L.jpg','Nasdaq kết thúc thấp hơn khi lợi suất trái phiếu kho bạc tăng, Lyft lao dốc','Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem beatae ex facilis velit vitae explicabo aliquam dolores...','12/2/2023')
        +mainNewsItem('#','https://i-invdn-com.investing.com/trkd-images/LYNXMPEJ1A002_L.jpg','Google cảnh báo chống lại các chatbot gây ảo giác - báo cáo','Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem beatae ex facilis velit vitae explicabo aliquam dolores...','12/2/2023')
    .main__news-all 
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')
        +mainNewsAllList('P1| Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia libero deserunt enim obcaecati eum pariatur recusandae velit soluta assumenda blanditiis aperiam nobis inventore vitae voluptatum, est molestias? Magnam, ea.', '#')